<div class="container" style="margin-top: 100px;">
    <h1 style="font-size: 50px;">Acceso Denegado :v</h1>
    <img src="https://noticiasseguridad.com/nsnews_u/2017/05/Exploit-Acceso-Denegado.png" alt="Denegado" style="margin-left: 250px;"> 
</div>