@model Logueo


<!-- Aqui rellenar lo del Login-->

<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  <div class="text-center py-5" style="background-image: url(&quot;https://images.pexels.com/photos/3182823/pexels-photo-3182823.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=650&amp;w=940&quot;); background-size: cover; background-position: left top; background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card text-center">
            <div class="card-body bg-secondary">
              <div class="mx-auto col-md-12 col-10 bg-white p-5 bg-info">
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="text-center text-secondary my-4">Iniciar Sesión</h1>
                  </div>
                </div>
                <form method="post">
                  <div asp-validation-summary="All"></div>
                  <div class="form-group">
                    <input type="email" class="form-control bg-dark text-white" id="form9" placeholder="Ingrese su email" asp-for="Correo">
                  </div>
                  <div class="form-group mb-3">
                    <input type="password" class="form-control bg-dark text-white" placeholder="Ingrese su Contraseña" id="form10" asp-for="Password">
                  </div>
                  <button type="submit" class="btn btn-primary">Iniciar</button>
                </form>
              </div>
            </div>
            <div class="card-footer text-muted">Nuestros cuerpos son nuestros jardines, nuestras voluntades son nuestros jardineros.<br></div>
          </div>
        </div>
      </div>
    </div>
  </div>