@model Plantas
 <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4">Ahora eres un creador de Contenido</h1>
          <p class="">Completa las casillas con la información de la Planta que encontraste. Le recomendamos ser especifico&nbsp;<br>y escribir con buena ortografía.<br>Gracias por colaborar con Nosotros y el Mundo !!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Registrar Planta Encontrada</h1>
            <form method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Nombre"></label>
                    <input asp-for="Nombre" class="form-control">
                </div>
                <div class="form-group">
                    <label asp-for="Foto"></label>
                    <input asp-for="Foto" class="form-control">
                </div>
                <div class="form-group">
                    <label>Descripción</label>
                    <textarea asp-for="Descripcion" rows="10" cols="50"></textarea>
                </div>
                
                <button class="btn btn-primary">Registrar</button>

            </form>
        </div>
      </div>
    </div>
  </div>