 <div class="py-5 text-center" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-3">Recursos Web para conocer Vegetación en General</h1>
          <p>A continuación mostraremos algunos recursos indispensables para conocer más sobre&nbsp;<br>la Flora existente en diversas partes del Mundo</p>
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" src="https://pbs.twimg.com/profile_images/1097529058278158339/FiqTujWY.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">ECOSIA</h5>
                  <p class="card-text">Ecosia es un buscador web especializado en vegetación. Cuenta con una comunidad agradable y ecologista.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12"><a class="btn btn-outline-light" href="https://www.ecosia.org/?c=en">Ir a Ecosia</a></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card"> <img class="card-img-top" src="https://pbs.twimg.com/profile_images/1158834624136716289/hoQGuMN1_400x400.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">SERNANP</h4>
                  <p class="card-text">Organización Peruana en la cual puedes encotrar todo sobre la flora de la región e investigaciones relacionadas</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12"><a class="btn btn-outline-light" href="http://www.sernanp.gob.pe/home">Ir a Sernanp</a></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card"> <img class="card-img-top" src="https://initiative20x20.org/sites/default/files/2018-05/1_5.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">WAC</h4>
                  <p class="card-text">Organización Mundial que cuenta con una gran Base de Datos en la cual puedes encontrar una diversidad de plantas clasificadas por País.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12"><a class="btn btn-outline-light" href="http://www.worldagroforestry.org/output/tree-functional-and-ecological-databases">Ir a WAC</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" style="background-image: linear-gradient(to left bottom, rgba(189, 195, 199, .75), rgba(44, 62, 80, .75)); background-size: 100%;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4 text-center mb-5">Algunas Bases de Datos Especializadas a nivel Mundial</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 px-4 px-md-0">
          <div class="row mb-4">
            <div class="col-3"> <img class="img-fluid d-block mx-auto rounded-circle" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/56/University_of_Connecticut_seal.svg/1200px-University_of_Connecticut_seal.svg.png" width="100" alt="Card image cap"> </div>
            <div class="col-9">
              <h4><b>UCONN</b></h4>
              <p class="mb-0">University of Connecticut<br>Collegue of Agriculture,Health&nbsp;<br>and Natural Resources</p><a class="btn btn-primary" href="http://hort.uconn.edu/detail.php?pid=2"><i class="fa fa-fw fa-1x py-1 fa-search"></i></a>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-3"> <img class="img-fluid d-block mx-auto rounded-circle" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/56/JSTOR_vector_logo.svg/1200px-JSTOR_vector_logo.svg.png" width="100" alt="Card image cap"> </div>
            <div class="col-9">
              <h4><b>JSTOR</b></h4>
              <p class="mb-0">Database Global Plants</p><a class="btn btn-primary" href="https://plants.jstor.org/"><i class="fa fa-fw fa-1x py-1 fa-search"></i></a>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-3" style=""> <img class="img-fluid d-block mx-auto rounded-circle" width="100" alt="Card image cap" src="https://scholarship-positions.com/wp-content/uploads/2014/02/IPNI-Scholar-Award-Program-for-Graduate-Students-2018.png"> </div>
            <div class="col-9 col-md-8" style="">
              <h4><b>IPNI</b></h4>
              <p class="mb-0">International Plant Names Index</p><a class="btn btn-primary" href="https://www.ipni.org/"><i class="fa fa-fw fa-1x py-1 fa-search"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 px-4 px-md-0" style="">
          <div class="row mb-4">
            <div class="col-6"> <img class="img-fluid d-block mx-auto rounded-circle" src="https://pbs.twimg.com/profile_images/952900273030225921/egUgoBZV_400x400.jpg" width="100" alt="Card image cap"> </div>
            <div class="col-6">
              <h4><b>BGCI</b></h4>
              <p class="mb-0">Botanic Gardens&nbsp;<br>Conservation Natural</p><a class="btn btn-primary" href="https://tools.bgci.org/global_tree_search.php"><i class="fa fa-fw fa-1x py-1 fa-search"></i></a>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-6" style=""> <img class="img-fluid d-block mx-auto rounded-circle" src="https://pfaf.org/user/images/pfaf_logo_bg.jpg" width="200" alt="Card image cap" height="100"> </div>
            <div class="col-6" style="">
              <h4><b>PFAF</b></h4>
              <p class="mb-0">Plants For a Future</p><a class="btn btn-primary" href="https://pfaf.org/user/Default.aspx"><i class="fa fa-fw fa-1x py-1 fa-search"></i></a>
            </div>
          </div>
          <div class="row">
            <div class="col-3 col-md-12">
              <div class="row">
                <div class="col-md-6"><img class="img-fluid d-block rounded-circle w-50" src="http://www.lamolina.edu.pe/hortalizas/imagenes/LOGOS/logoUNALM.png"></div>
                <div class="col-md-6 h-25">
                  <h2 class="">UNALM</h2>
                  <p class="" contenteditable="true">Facultad de Agronomía de la<br>Universidad Agraria de la Molina</p><a class="btn btn-primary" href="http://repositorio.lamolina.edu.pe/handle/UNALM/1"><i class="fa fa-fw fa-1x py-1 fa-search"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12 text-center">
          <h1 class="mb-4">Personajes Ilustres en el Cuidado Ambiental</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="row mb-4">
            <div class="col-3"> <img class="img-fluid d-block mx-auto rounded-circle" src="https://www.ecoticias.com/userfiles/2015/Sep_30/Al_Gore.jpg" width="100" alt="Card image cap"> </div>
            <div class="col-9">
              <h4><b>Albert Gore</b></h4>
              <p class="mb-0">Político estadounidense, ex vicepresidente, filántropo y abogado, es considerado un “político verde”</p>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-3"> <img class="img-fluid d-block mx-auto rounded-circle" src="https://www.ecoticias.com/userfiles/2015/Sep_30/charles-david-kelling.jpg" width="100" alt="Card image cap"> </div>
            <div class="col-9">
              <h4><b>Charles Keeling</b> - Magister</h4>
              <p class="mb-0">Doctor en Química, científico e investigador, fue pionero en la década de 1950 en estudiar las cantidades de CO2 emitidas a la atmósfera y en expresar su preocupación por la industrialización masiva</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row mb-4">
            <div class="col-3"> <img class="img-fluid d-block mx-auto rounded-circle" src="https://tech.eu/wp-content/uploads/2014/04/Christian-Kroll.jpg" width="100" alt="Card image cap"> </div>
            <div class="col-9">
              <h4><b>Christian Kroll</b>- Co-founder of Echosia</h4>
              <p class="mb-0"> I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater.</p>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-3"> <img class="img-fluid d-block mx-auto rounded-circle" src="https://www.ecoticias.com/userfiles/2015/Sep_30/masanobufukuoka.jpg" width="100" alt="Card image cap"> </div>
            <div class="col-9">
              <h4>Masanobu Fukuoka</h4>
              <p class="mb-0">Biólogo, agricultory filósofo japonés inventor de la llamada"agricultura natural", basada en la observación de los ciclos de la naturaleza y el respeto por los ecosistemas nativos</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>