  <div class="py-5 text-center text-white h-100 align-items-center d-flex" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://images.pexels.com/photos/1643409/pexels-photo-1643409.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=650&amp;w=940);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
    <div class="container py-5">
      <div class="row">
        <div class="mx-auto col-lg-8 col-md-10">
          <h1 class="display-3 mb-4">Discovery Plants</h1>
          <p class="lead mb-5">Descubre el Maravilloso Mundo de la Flora junto a miles de aficionados y expertos.</p> 
          <a class="btn btn-lg mx-1 btn-secondary" asp-controller="usuario" asp-action="registrarse" >Registrarse</a> 
          
          <a class="btn btn-lg mx-1 btn-outline-light" asp-controller="usuario" asp-action="IniciarSesion">Iniciar Sesión</a>
        </div>
      </div>
    </div>
  </div>
