@model Plantas
@{
    var CategoriaAsiga = (List<Categorias>)ViewBag.Categorias;
}
<div class="container py-5">
    <div class="row">
        <div class="mx-auto col-lg-8 col-15">
            <form method="post" asp-controller="Home" asp-action="IngresarPlanta">
                    <div asp-validation-summary="All"></div>
                            <div>
                        <h4>Registrar Planta</h4>
                    </div>
                            <div class="form-group"> 
                                <label for="form16" asp-for="Nombre"></label> 
                                <input type="text" class="form-control" id="form16" placeholder="Nombre" asp-for="Nombre">
                            </div>
                            <div class="form-group">
                                <label for="form17" asp-for="Usos"></label>
                               
                                <textarea asp-for="Usos" rows="3" id="form17" col="7" class="form-control" asp-for="Usos" placeholder="Usos"></textarea> 
                            </div>
                            <div class="form-group">
                                <label for="form18" asp-for="Caracteristicas"></label>
                                
                                <textarea asp-for="Caracteristicas" id="form18" rows="7" col="7" class="form-control" asp-for="Caracteristicas" placeholder="Caracteristicas"></textarea>
                            </div>
                           
                            <div class="form-group ">
                                    <label for="form19" asp-for="Foto"></label>
                                    <input type="text" class="form-control" id="form19" asp-for="Foto">
                            </div>
                            <div class="form-group ">
                                    <label for="form20" asp-for="Ubicacion"></label>
                                    <input type="text" class="form-control" id="form20" asp-for="Ubicacion">
                            </div>
                            <div class="form-group">
                                <label >Categoría</label>
                                <select asp-for="CategoriaId" class="form-control">
                                    @foreach (var item in CategoriaAsiga)
                                    {
                                        <option value="@item.Id" id="CategoriaId">@item.Nombre</option>
                                    }
                                </select>
                            </div>
                            
                            <div class="mx-auto py-3">
                        <button class="btn btn-primary">Registrar</button>
                    </div>


                </form>
        </div>
    </div>
</div>