<!-- Cover -->
  <div class="py-5 text-white" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://images.pexels.com/photos/401213/pexels-photo-401213.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=650&amp;w=940);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 p-0">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/w77zPAtVTuI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
          </div>
        </div>
        <div class="p-5 col-lg-7 d-flex flex-column justify-content-center">
          <h3 class="display-4 mb-3">Descubre junto a Jhoe</h3>
          <p class="lead mb-0">Jhoe es un aficionado al descubrimiento de nuevas plantas alrededor de todo el Mundo. Aqui te dejamos un video en el cual nos enseña el proceso de crecimiento de una planta.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Intro -->
  <!-- Gallery -->
  <!-- Menu -->
  <!-- Carousel reviews -->
  <!-- Carousel venue -->
  <!-- Events -->
  <!-- Dark opaque section -->
  <!-- Footer -->
  <!-- JavaScript dependencies -->
  <div class="p-0 py-2 m-0 my-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 text-center">Últimos Descubrimientos</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="m-0 my-1 py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-6 p-3"> <img class="img-fluid d-block" src="https://images.pexels.com/photos/531739/pexels-photo-531739.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=650&amp;w=940" style="">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">Acacia Morada</h2>
            </div>
          </div>
          <p class="">Esta flor pertenece a la familia de las Acacias y fue descubierta hace una semana por unos agricultores de Brasil. Aún no se realizan investigaciones sobre dicha rareza.</p>
          <div class="row">
            <div class="col-md-12"><a class="btn btn-secondary d-flex justify-content-center" href="#">Leer más</a></div>
          </div>
        </div>
        <div class="col-md-3 col-6 p-3"> <img class="img-fluid d-block" src="https://images.pexels.com/photos/1393428/pexels-photo-1393428.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;h=650&amp;w=940" height="60" width="200" style="">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">Cereza Negra&nbsp;</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><a class="btn btn-secondary d-flex justify-content-center" href="#">Leer más</a></div>
          </div>
        </div>
        <div class="col-md-3 col-6 p-3"> <img class="img-fluid d-block" src="https://cdn.pixabay.com/photo/2019/10/12/21/29/podgrzybki-4544952_1280.jpg">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="text-center">Hongo Fiji</h2>
                  <p class="">Fiji es un hongo de las Islas Orientales encontrado por el doctor Singan Zhu</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><a class="btn btn-secondary text-center d-flex justify-content-center" asp-controller="Home" asp-action="PlantasDoc">Leer más</a></div>
          </div>
        </div>
        <div class="col-md-3 col-6 p-3"> <img class="img-fluid d-block" src="https://cdn.pixabay.com/photo/2015/04/19/08/32/rose-729509_1280.jpg">
          <div class="row">
            <div class="col-md-12">
              <h2 class="text-center">Flor Multicolor</h2><img class="img-fluid d-block" src="https://cdn.pixabay.com/photo/2016/07/04/11/32/succulent-1496452_1280.jpg">
              <h2 class="text-center">Cactus Araña</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><a class="btn btn-secondary d-flex justify-content-center flex-row align-items-start" asp-controller="Home" asp-action="PlantasDoc">Leer más</a></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center">Si Quieres conocer más, presione el siguiente botón</h3>
          <div class="row">
            <div class="col-md-7 offset-md-5" style=""><a class="btn btn-light flex-column d-inline-flex align-items-center justify-content-center flex-grow-1 w-25" asp-controller="Home" asp-action="PlantasDoc">Buscar</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>