<link rel="stylesheet" href="~/css/styleLista.css">
    <div class="container">
        <input class="buscar" type="text" placeholder="Nombre de la planta">
        <button class="boton">Buscar</button>
        <ul class="list-image">
            <li>
                <div class="container-image">
                    <img src="http://www.floraltrendy.com/blog/wp-content/uploads/2018/04/LiriosFlores.jpg" alt=""
                        class="image">
                    <div class="information-image">
                        <p class="name-image">Flor</p><a href="" class="moreinfo">Saber más</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="container-image">
                    <img src="http://www.floraltrendy.com/blog/wp-content/uploads/2018/04/LiriosFlores.jpg" alt=""
                        class="image">
                    <div class="information-image">
                        <p class="name-image">Flor</p><a href="" class="moreinfo">Saber más</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="container-image">
                    <img src="http://www.floraltrendy.com/blog/wp-content/uploads/2018/04/LiriosFlores.jpg" alt=""
                        class="image">
                    <div class="information-image">
                        <p class="name-image">Flor</p><a href="" class="moreinfo">Saber más</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="container-image">
                    <img src="http://www.floraltrendy.com/blog/wp-content/uploads/2018/04/LiriosFlores.jpg" alt=""
                        class="image">
                    <div class="information-image">
                        <p class="name-image">Flor</p><a href="" class="moreinfo">Saber más</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="container-image">
                    <img src="http://www.floraltrendy.com/blog/wp-content/uploads/2018/04/LiriosFlores.jpg" alt=""
                        class="image">
                    <div class="information-image">
                        <p class="name-image">Flor</p><a href="" class="moreinfo">Saber más</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="container-image">
                    <img src="http://www.floraltrendy.com/blog/wp-content/uploads/2018/04/LiriosFlores.jpg" alt=""
                        class="image">
                    <div class="information-image">
                        <p class="name-image">Flor</p><a href="" class="moreinfo">Saber más</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="container-image">
                    <img src="http://www.floraltrendy.com/blog/wp-content/uploads/2018/04/LiriosFlores.jpg" alt=""
                        class="image">
                    <div class="information-image">
                        <p class="name-image">Flor</p><a href="" class="moreinfo">Saber más</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="container-image">
                    <img src="http://www.floraltrendy.com/blog/wp-content/uploads/2018/04/LiriosFlores.jpg" alt=""
                        class="image">
                    <div class="information-image">
                        <p class="name-image">Flor</p><a href="" class="moreinfo">Saber más</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="container-image">
                    <img src="http://www.floraltrendy.com/blog/wp-content/uploads/2018/04/LiriosFlores.jpg" alt=""
                        class="image">
                    <div class="information-image">
                        <p class="name-image">Flor</p><a href="" class="moreinfo">Saber más</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="container-image">
                    <img src="http://www.floraltrendy.com/blog/wp-content/uploads/2018/04/LiriosFlores.jpg" alt=""
                        class="image">
                    <div class="information-image">
                        <p class="name-image">Flor</p><a href="" class="moreinfo">Saber más</a>
                    </div>
                </div>
            </li>


        </ul>
    </div>
