@model Listas

<h1>Plantas</h1>
 


<div class="row">
  @foreach (var item in Model.ListPlantas )
  {
      <div class="col-md-3 text-center my-2">
          <a href=""><img src="@item.Foto" ></a>
          <h2>@item.Nombre</h2>
      
          
          

          @if (item.CategoriaAsig != null) {
              <h2>@item.CategoriaAsig.Nombre</h2>
          }else{
              <h2>"Esta planta aun no tiene una categoria asignada"</h2>
          }

      </div>
  }
      

  </div>  

  