@model Listas

<div class="m-0 my-1 py-2">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.ListPlantas )
            {
                <div class="col-md-3 col-6 p-3"> <img class="img-fluid d-block" src="@item.Foto" style="">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="text-center">@item.Nombre</h2>
                                </div>
                            </div>
                            <p class="">@item.Caracteristicas</p>
                            <div class="row">
                                <div class="col-md-12"><a class="btn btn-secondary d-flex justify-content-center" asp-action="PlantasDoc" asp-route-codigo="@item.Id">Leer más</a></div>
                            </div>
                    </div>
            }

        </div>  
      
    </div>
</div>