<div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-md-5 p-3 d-flex flex-column justify-content-center">
          <h1>Conoce a nuestro Equipo</h1>
          <p class="mb-0">Somos un grupo de estudiantes universitarios que observamos la posibilidad de crear un grupo en el cual se intercambie informacion sobre Plantas extravagantes que muchos no conocen.<br>INTEGRANTES:<br>- Castro Gómez Jairo<br>-Falcón Rosas Tommy<br>-Rivera Acacio Shamil</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-1" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://player.vimeo.com/video/239823487?title=0&amp;byline=0&amp;portrait=0" allowfullscreen="" class="embed-responsive-item"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12">
          <h1 class="mb-3">Alianzas con Organizaciones MedioAmbientales</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="http://www.perulactea.com/wp-content/uploads/2017/06/INIA_BECAS.jpg" width="100" alt="Card image cap">
          <h4><b>INIA</b></h4>
          <p class="mb-0"><i>Instituto Nacional de Investigación Agraria</i></p>
        </div>
        <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://pbs.twimg.com/profile_images/1166038751203790850/73ZI_4Vl.png" width="100" alt="Card image cap">
          <h4> <b>WWF</b></h4>
          <p class="mb-0"><i>World Wildlife Fund</i></p>
        </div>
        <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://media.licdn.com/dms/image/C510BAQHq94wLVThhug/company-logo_200_200/0?e=2159024400&amp;v=beta&amp;t=PATsnJdJ7fr9OOq257ySiPDk-7zs-btMklf24h_NLpQ" width="100">
          <h4> <b>AAF</b></h4>
          <p class="mb-0"><i>Andes Amazon Found&nbsp;</i></p>
        </div>
        <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="http://www.mapademedios.com/ima/medios/1273.jpg" width="100">
          <h4><b>Gobierno del Perú</b></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-3">We <i class="fa fa-fw fa-heart d-inline text-danger"></i>&nbsp;Plants / Amamos las Plantas</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12"> <a href="#" class="text-muted">
            <i class="fa fa-fw fa-facebook fa-2x mx-3"></i>
          </a> <a href="#" class="text-muted">
            <i class="fa fa-fw fa-twitter fa-2x mx-3"></i>
          </a> <a href="#" class="text-muted">
            <i class="fa fa-fw fa-2x fa-google-plus mx-3"></i>
          </a> <a href="#" class="text-muted">
            <i class="fa fa-fw fa-instagram fa-2x mx-3"></i>
          </a> </div>
      </div>
    </div>
  </div>