@model Categorias;
@{
    var cate= (List<Categorias>)ViewBag.NombreCat;
}
 

<br>
<br>
<br>
            <h3>Categorías Existentes <br>
            
            </h3>
            <a class="btn btn-primary" asp-controller="administrador" asp-action="RegistrarCategoria2">Registrar nueva categoria</a>
            <table>
                <tr>
                    <th>Nombre de Categoria</th>
                    <th>Ociones</th>
                </tr>
                 
                 @foreach (var item in cate)
                 {
                    <tr>
                        <th>@item.Nombre</th>
                        <th> 
                            <a asp-controller="administrador" asp-action="eliminarcat" asp-route-codigo="@item.Id">Eliminar</a>
                            <a href="#ventana" data-toggle="modal">Modificar</a>
                            <div class="modal fade" id="ventana">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h2 class="modal-title">Ingrese nuevo nombre de categotia</h2>
                                        </div>
                                        <div class="modal-body">
                                            <form name="axtu" method="post" asp-controller="administrador" asp-action="registrarcategoria" class="col-md-8">
                                                <div class="form-group"> 
                                                    <label for="form16" asp-for="Nombre"></label> 
                                                    <input type="text" class="form-control" id="form16" placeholder="@item.Nombre" asp-for="Nombre">
                                                </div>
                                                <div class="py-3"><button class="btn btn-primary py-3" asp-route-codigo="@item.Id">Comfirmar</button></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr> 
                   
                 }
             
            
            </table>
            
